.tatami {
  height: 100vh;
  display: flex;
}

.tatami > * {
  border: dotted 1px red;
}

.overlay {
  z-index: 1000;
  position: absolute;
  left:0;
  width:0;
  height:0;

  background-color: rgba(255,255,255,0.0);
  -webkit-transition-timming-function: ease-in-out;
  -webkit-transition: background 0.5s;
     -moz-transition: background 0.5s;
       -o-transition: background 0.5s ease-in-out;
          transition: background 0.5s ease-in-out;
}

.drawer {
  z-index: 1001;
  height: 100vh;
  display: flex;
  overflow-y:auto;
}

.dialog {
  z-index: 1002;
  min-width: 10rem;
  min-height: 10rem;
  display:flex;
}

.container {
  flex:1;
  left:0;
  display:flex;
  flex-direction: column;
}

.container > #searchbar {
  display:none;
  padding: 15px;
  min-height: 6rem;
}

.toolbar {
  height: 100vh;
  z-index: 1001;
}

@media (max-width: 959px) {

  .drawer {
    width: 0.1rem;
    min-width: 0.1rem;
  }

  .drawer.open {
    position: absolute;
    left: 0;
    min-width: 20rem;
  }

  .overlay.open {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.7);
  }

  .toolbar {
    width: 0.1rem;
    min-width: 0.1rem;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {

  .drawer {
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;
  }

  .toolbar {
    width: 0.1rem;
    min-width: 0.1rem;
    max-width: 0.1rem;
  }
}

@media (min-width: 1280px) {
  .drawer {
    min-width: 20rem;
    padding-top: 0px;
  }
  .toolbar {
    min-width: 8rem;
    display: flex;
  }
  .drawer {
    background-color: inherit;
    box-shadow: inherit;
  }
  .container > #searchbar {
    display: flex;
  }
}

/* -------------- */

.shadow-right {
  -webkit-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.26);
  -moz-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.26);
  box-shadow: 3px 0 5px 0 rgba(0,0,0,0.26);
}

.shadow-bottom {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}

.animated {
  -webkit-transition-timming-function: ease-in-out;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
